* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
body {
  font-family: Arial, sans-serif;
  overflow-x: hidden;
}

.header {
  width: 100%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  background-color: #ffffff;
  color: black;
}

.logo img {
  width: 184px;
}

.nav {
  display: flex;
  align-items: center;
}

.nav-links {
  list-style-type: none;
  display: flex;
  transition: transform 0.3s ease-in-out;
  text-align: center;
}

.nav-links.active {
  transform: translateX(0%);
}

.nav-links li {
  margin-right: 20px;
}

.nav-links li:last-child {
  margin-right: 0;
}

.nav-links a {
  width: 81px;
  height: 40px;
  padding: 8px 16px 8px 16px;
  color: rgb(16, 15, 15);
  text-decoration: none;
  position: relative;
}

.nav-links a:hover {
  color: green;
}

.nav-links a::after {
  content: "";
  position: absolute;
  bottom: -2px;
  left: 0;
  width: 0;
  height: 2px;
  background-color: green;
  transition: width 0.3s ease-in-out;
}

.nav-links a:hover::after {
  width: 100%;
}

.sub-btn {
  border-radius: 5px;
  padding: 5px 8px;
  background-color: #289476;
  border-style: none;
  color: white;
}

.hamburger {
  display: none;
  background: none;
  border: none;
  color: rgb(7, 7, 7);
  cursor: pointer;
  font-size: 1.5rem;
}

.hamburger i {
  transition: transform 0.3s ease-in-out;
}

.hamburger.cross i {
  transform: rotate(45deg);
}

.hamburger.cross i:nth-child(2) {
  opacity: 0;
}

.hamburger.cross i:nth-child(3) {
  transform: rotate(-45deg);
}
.container {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  padding: 80px;
  background: linear-gradient(360deg, #f5fff6 67%, rgba(255, 255, 255, 0) 100%);
}

.section {
  flex: 1;
  padding: 20px;
}

.section h1 {
  font-size: 38px;
  margin-bottom: 10px;
}

.mobile-heading{
  display:none;
}

.section p {
  font-size: 16px;
  margin-bottom: 20px;
  line-height: 1.4;
  gap: 0;
}

.gap {
  margin-top: 60px;
}

.btn {
  padding: 12px 18px;
  font-weight: 400;
  font-size: 16px;
  background: #289476;
  color: #fff;
  border: none;
  cursor: pointer;
  border-radius: 8px;
  gap: 4px;
  transition: background-color 0.3s;
  box-shadow: 2px 4px 44px 0px #0000000a;
}

.section img {
  width: 100%;
  /* height: auto; */
}

.text-green {
  color: rgb(3, 88, 64);
}

.mission-container {
  width: 80%;
  margin: 0 auto;
  padding: 20px;
}

.mission-container h1 {
  text-align: left;
  margin-bottom: 20px;
  font-size: 3.8vw;
}

.mission-cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  font-size: 16px;
}

.mission-card {
  width: 306.33px;
  height: 127px;
  border-radius: 12px;
  padding: 16px;
  gap: 11px;
  background-color: #ffffff;
  box-shadow: 4px 12px 32px 0px #00000026;
  border: 2px solid #289476;
  border: 1px solid #ddd;
  box-shadow: 4px 12px 52px 0px #28947640;
  margin-bottom: 11px;
}

.mission-card:hover {
  border: 1.2px solid #6be7c4;
}
.mission-card h3 {
  margin-bottom: 8px;
  font-size: 18px;
}

.mission-card p {
  font-size: 16px;
  color: #333;
}

.text-center {
  padding: 5px;
  color: #289476;
  font-size: 50px;
}

.question-style {
  font-size: 15vh;
  color: #d3f3ea;
}


.content {
  position: relative;
/*   width: 100vw; */
}

.image {
  position: relative;
  text-align: center;
}

.image img {
  width: 100vw; 
  height: 100vh;
}

.centered-text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white; 
  font-size: 60px; 
  /* font-family: "PT Serif Caption"; */
  font-style: normal;
  font-weight: 400;
  line-height: normal; 
  max-width: 80%; 
  padding: 10px 20px; 
  white-space: nowrap;
 
}


.bottom-left-text {
  position: absolute;
  bottom:85px;
  right: 90px;
  color: white; 
  font-size: 30px;
  font-weight: 400;
  
}

.faq {
  margin: 60px auto;
  width: 600px;
}

.faq li {
  list-style: none;
  width: 100%;
  margin: 20px;
  padding: 10px;
  border-radius: 8px;
  box-shadow: 6px 6px 10px -1px rgba(0, 0, 0, 0.15),
    -6px -6px 10px -1px rgba(255, 255, 255, 0.7);
}

.faq li label {
  display: flex;
  align-items: center;
  padding: 10px;
  font-size: 18px;
  font-weight: 500;
  cursor: pointer;
}

label::before {
  content: "+";
  margin-right: 10px;
  font-size: 24px;
  font-weight: 600;
}

input[type="radio"] {
  display: none;
}

.faq .content {
  color: #555;
  padding: 0 10px;
  line-height: 26px;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.5s, padding 0.5s;
}

.faq input[type="radio"]:checked + label + .content {
  max-height: 400px;
  padding: 10px 10px 20px;
}

.faq input[type="radio"]:checked + label::before {
  content: "-";
}

.faq-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: flex-start;
}

.image-section {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 10%;
}
 
.carsoul_testimonial{
  margin-top: 30px;
  text-align: center;
  color: teal;
  font-size: 2.2em;
  letter-spacing: 0.01em;
}
.testimonials {
  max-width: 800px;
  margin: auto;
  padding: 15px;
  text-align: center;
  position: relative;
}
.scroller {
  overflow-x: hidden;
  display: flex;
  scroll-snap-type: x mandatory;
}


.item {
  min-width: 100%;
  scroll-snap-align: center;
  background-color: white;
  margin-bottom: 10px;
  padding: 0 50px;
}
.item img {
  margin: 15px auto -60px;
  width: 120px;
  height: 120px;
  border: solid 4px #ffffff;
  border-radius: 60px;
  box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1);
  z-index: 2;
}
.card {
  background-color: rgb(237, 242, 247);
  padding: 80px 40px 40px;
  border-radius: 10px;
  box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1);
  z-index: 1;
}
.card p {
  font-style: italic;
  line-height: 1.6;
}
.card span {
  display: block;
  margin-top: 20px;
  color: teal;
  font-weight: bold;
  letter-spacing: 0.05em;
  text-transform: uppercase;
}
.testimonials .btn {
  position: absolute;
  top: 50%;
  margin-top: 20px;
  height: 30px;
  width: 30px;
  border-radius: 15px;
  background-color: rgba(95, 106, 117, 0.3);
  z-index: 1;
  line-height: 30px;
  text-align: center;
  color: white;
  font-weight: bold;
  padding:2px
}

.testimonials .btn.next {
  right: 15px;
}
.testimonials .btn.prev {
  left: 15px;
  padding:2px
}
.checked {
  color: orange;
}
@media screen and (max-width: 480px) {
  .item {
      padding: 0 30px;
  }
  .card {
      padding: 80px 30px 30px;
  }
}
.review-message{
  margin-top:25px;
  width:264px;
  height:126px;
  font-size:14px;
  line-height: 18px;
  text-align: center;
  color: #293032;
}


.footer {
  background: linear-gradient(0deg, #d3f3ea 0%, #ffffff 104.36%);
  width: 100%;
  padding: 15px;
}

.footer-container {
  width: 80%;
  margin: 0 10%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footer-left p {
  padding: 0;
  margin-bottom: 10px;
}
.footer-left i {
  display: inline;
}
.footer-right {
  display: flex;
  gap: 25px;
}
.footer-right ul {
  list-style: none;
}
.footer-right h4 {
  margin-bottom: 8px;
}

.socials i {
  color: #289476;
  background: #e1fcf4;
  padding: 5px;
  border-radius: 50%;
  margin: 2px;
}

.socials a {
  text-decoration: none;
  margin-top: 45px;
  padding: 5px;
  border-radius: 50%;
  margin: 2px;
}

/* Media Queries */

/* Nav-bar */

@media screen and (max-width: 768px) {
  .nav-links {
    position: absolute;
    top: 60px;
    left: -100%;
    display: flex;
    justify-content: flex-start;
    text-align: left;
    flex-direction: column;
    background-color: #ffffff;
    width: 100vw;
    height: 100vh;
    padding: 10px 0;
  }

  .nav-links a .active {
    margin-left: 10px;
    border-left: 2px solid #289476;
    padding: 5px;
    font-weight: 400;
  }

  .nav-links a::after {
    display: none;
  }

  .sub-btn {
    display: none;
    text-decoration: none;
  }

  .nav-links.active {
    left: 12px;
  }

  .nav-links li {
    margin: 10px 0;
  }

  .hamburger {
    display: block;
  }

  .logo img {
    width: 117.09px;
  }
}

/* Hero Section */
@media screen and (max-width: 768px) {

  .container {
    flex-direction: column-reverse;
    width: 100%;
    padding: 10px;
    margin-top: 50px;
  }

  .section {
    width: 100%;
    color: #293032;
  }

  .section p {
    line-height: 1.3;
  }

  .section .h{
    display:none;
  }
  .mobile-heading{
    display:block;
    font-size: 38px;
    margin-bottom: 10px;
  }

  .gap {
    margin-top: 10px;
  }
  .section h1 {
    font-size: 26px;
  }
}




.scrollable-div {
  width: 550px;  
  height: 800px;  
  overflow: scroll;  
  border: 0px solid rgb(26, 119, 73); 
  /* padding: 10px;   */
  scrollbar-width: none;
   
}
.text {
  left: 10px; 
  font-family: "Poppins", sans-serif;
  
}
.special-paragraph {
  transition: color 0.3s ease;
  color:gray;
  font-family: "Poppins", sans-serif;
  margin-bottom: 24px;
  padding-left: 20px;
  line-height: 2.5em;


}
.special-span-paragraph{
  
  font-family: "Poppins", sans-serif;
  margin-top: 15px;
  margin-bottom:15px

}
.white-space{
  white-space: pre 
  
}
.special-span-paragraph-heading{
  font-size: 22px;
  font-family: "Poppins", sans-serif;
}
.special-paragraph:hover {
  color: rgb(0, 0, 0);  
}

#para_0{
  color: rgba(40, 148, 118, 1);
  border-left: 3px solid rgba(40, 148, 118, 1);
            height: 80px;
            padding-left: 20px;
            left: 50%;
            line-height: 2.5em;
}
#row_0{
  color:  rgba(41, 48, 50, 1);
  font-family: "Poppins", sans-serif;
}
.text_scroll{
 padding-inline: 10px;
}
@media screen and (max-width: 768px) {
  #para_0{
    /* Change the border-left to an underline */
    border-left: none;
    border-bottom: 4px solid rgba(40, 148, 118, 1);
    padding-left: 0; /* Reset padding */
  }

}

.csp{
  padding-top: 80px;
}
.scroll-container {
  width:100%;
  display:flex;
  /* flex-direction: column;
  align-items: center; */
   
  /* justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  padding: 80px; */


}
.scroll-section{

  width:50%;
  flex: 1;
  padding-left: 100px;

   
}
.right-hero{
  width: 50%;
  
}
@media screen and (max-width: 768px) {
  .scroll-section {
      width: 100%;
      color: #293032;
      padding-left: 0px;

  }
}
@media screen and (max-width: 768px) {
  .scroll-section p {
      line-height: 1.3;
      margin-bottom: 20px;
     
  }
}
@media screen and (max-width: 768px) {
  .scroll-container  {
      width: 100%;
      color: #293032;
      padding-left: 30px;
      flex-direction: column;
      /* align-items: center; */
  }
}

@media screen and (max-width: 768px) {
  .special-paragraph  {
      padding-left: 0px;
      width: min-content;
  }
}











/* Our Mission */








@media screen and (max-width: 767px) {
  .mission-card {
    width: 125px;
    padding: 11px;
    height: 59px;
}
  .mission-card h3 {
    font-size: 10px;
    /* line-height: 21px; */
    text-align: center;
  }

  .mission-card p {
    display: none;
  }
  .mission-container h1{
    font-size: 22px;
  }
}

@media screen and (max-width: 375px) {
  .mission-card {
    width: 117px;
    height: 68px;
    /* width: calc(100% - 20px); */
    padding: 16px;
  }
  .mission-card h3 {
    font-size:8px;
    line-height: 21px;
    text-align: center;
  }
}

/* FAQ'S */

@media screen and (max-width: 600px) {
  .faq-container {
    padding: 10px;
  }

  .faq {
    width: 100%;
    margin: 0px auto;
  }

  .faq li {
    width: 90%;
    margin: 20px auto;
  }

  .faq li label {
    font-size: 16px;
    margin-right: 40px;
  }

  label::before {
    font-size: 20px;
  }

  .image-section {
    display: none;
  }
}

/* Footer */
@media screen and (max-width: 768px) {
  .footer-container {
    flex-direction: column;
    align-items: center;
  }

  .footer-left {
    text-align: center;
  }

  .footer-right {
    margin-top: 20px;
  }

  .footer-right ul {
    text-align: center;
  }
}

@media screen and (max-width: 480px) {
  .footer-left {
    padding: 0;
  }

  .footer-right {
    flex-direction: column;
    gap: 20px;
  }
}


@media only screen and (max-width:480px){

  .content {
    position: relative;
    width: 100%;
  }
  
  .image {
    position: relative;
    text-align: center;
  }
  
  .image img {
    width: 100%; 
    height: 100%;
  }
  
  .centered-text {
  
    top: 50%;
    left: 45%;
    font-size: 17px; 
    max-width: 80%; 
    padding: 10px 20px;
  }

  .bottom-left-text {
  
    bottom:30px;
    right: 20px;
    font-size: 9px; 
  }
}

